// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.catalog-page
  .catalog-page-head
    background: #fff
    +box-shadow(1px 1px 3px 0px rgba(0,0,0,0.35))
    nav
      list-style: none
      +clear_fix
      li
        width: 25%
        display: inline-block
        float: left
        a
          display: block
          text-align: center
          +default_font_style(#90a4ae, 16, 500, 32)
          text-transform: uppercase
          position: relative
          padding-bottom: 10px
          span
            @media #{$small-only}
              display: none
          svg
            width: 100%
            height: 35px
            path
              fill: #90a4ae

        &.current-page
          a
            color: #e91e63
            svg
              path
                fill: #e91e63
            &:after
              content: ''
              position: absolute
              bottom: 0
              left: 0
              right: 0
              border-bottom: 4px solid #e91e63

  .catalog-page-body
    .product-list
      .product-card-wrap
        +grid-col(3)
        @media #{$medium-only}
          +grid-column(6)
        @media #{$small-only}
          +grid-col(12)
        padding-top: 11px
        padding-bottom: 11px
        &:last-child:not(:first-child)
          float: left
        .product-card-door
          .pc-avatar
            .image
              padding-bottom: 221%

