// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product-page
  background: #fff
  .product-avatar
    img
      width: 70%
      margin: 0 auto
      display: block
    .title
      +default_font_style(#78909c,14, 400, 18)
      text-align: center
      padding-top: 20px

  .product-body
    .apply-product-setting-wrap
      display: none
    &.changed
      .product-adding-to-cart
        display: none
      .apply-product-setting-wrap
        display: block

    .product-main-info
      padding-bottom: 20px
      .title
        +default_font_style(#455a64, 30, 500, 32)
        text-transform: uppercase
      .subtitle
        +default_font_style(#78909c, 14,400, 18)
        margin-bottom: 20px
      p
        +default_font_style(#546e7a, 16, 400, 21)
      hr
        border-color: #eceff1

    .product-total-price
      +default_font_style(#0d47a1, 36, 500, 32)
      span
      sup
        font-size: 60%
    .product-status
      &:after
        +default_font_style(#000, 12, 400, 18)
        font-family: "Roboto", sans-serif
      &.in-stock:after
        content: 'Є на складі'
        color: #43a047

      &.do-not-have
        content: 'Немає'
        color: #455a64
      &.ends
        content: 'Закінчується'
        color: #e91e63
    .product-adding-to-cart
      .patc-quantity
        padding-top: 15px
        input
          margin-bottom: 5px
          +default_font_style(#455a64, 16, 500, 36)
          border: none
          outline: none !important
          box-shadow: none !important
          background: transparent !important
          border-bottom: 1px solid #b0bec5
        label
          +default_font_style(#78909c, 14, 400, 18)
      .patc-buttons-wrap
        .patc-button-favorite
          a
            +default_font_style(#78909c, 14, 500, 36)
            text-transform: uppercase
            text-align: center
            display: block
            svg
              width: 24px
              height: 24px
              margin-right: 5px
              position: relative
              top: 5px
              path
                fill: #78909c
        .patc-button-order
          .default-button
            width: 180px
            margin: 0 auto
            display: block

  .product-info-block
    background: #eceff1
    margin-bottom: 33px
    padding-top: 10px
    padding-bottom: 40px
    .product-info-block-head
      position: relative
      padding-bottom: 14px
      .title
        +default_font_style(#546e7a, 14, 500, 14)
        text-transform: uppercase
        text-align: center
        svg
          height: 25px
          position: relative
          top: 6px
          path
            fill: #546e7a

    .product-info-block-body
      padding: 0 24px
      .label-text
        +default_font_style(#90a4ae, 13, 400, 16)

    &.product-info-block-expand
      height: 52px
      overflow: hidden
      .product-info-block-head
        cursor: pointer
        .navigation-arrow
          position: absolute
          top: 0
          right: 20px
          cursor: pointer
          svg
            path
              fill: #90a4ae
      &.expanded
        height: auto
        .navigation-arrow
          +rotate(180deg)

    &.product-calculator
      hr
        border-bottom: 1px solid #cfd8dc
        margin-top: 15px
        margin-bottom: 30px
      .color-select-variant
        +clear_fix
        padding-bottom: 40px
        border-bottom: 1px solid #cfd8dc
        margin-top: 20px
        margin-bottom: 20px
        .label-text
          +default_font_style(#90a4ae, 13, 400,  15.6)
          padding-bottom: 15px
        input[type=radio]
          position: absolute
          z-index: -1000
          left: -1000px
          overflow: hidden
          clip: rect(0 0 0 0)
          height: 1px
          width: 1px
          margin: -1px
          padding: 0
          border: 0
          & ~ label
            display: block
            width: 45px
            height: 45px
            position: relative
            float: left
            margin-left: 0
            margin-right: 1px
            cursor: pointer
            .image
              height: 100%

          //&#color-92969b
          //  & ~ label
          //    background: #92969b
          //&#color-78746e
          //  & ~ label
          //    background: #78746e
          //&#color-bea18e
          //  & ~ label
          //    background: #bea18e
          //&#color-ffffff
          //  & ~ label
          //    background: #fff
          //&#color-5b5e5b
          //  & ~ label
          //    background: #5b5e5b
          //&#color-a36b40
          //  & ~ label
          //    background: #a36b40

          &:checked
            & ~ label
              &:after
                content: ''
                +triangle(top, 9px, #455a64)
                +my_horizontal_align
                  position: absolute
                bottom: -15px

      .calculator-option-select
        padding-bottom: 20px
        label
          +default_font_style(#90a4ae, 13, 400, 15.6)
        select
          background-color: transparent
          border-bottom: 1px solid #546e7a
          +default_font_style(#546e7a, 16, 500, 19.2)

    &.product-scheme-door-opening
      margin-bottom: 75px
      .product-info-block-body
        +clear_fix

        hr


        .product-one-scheme
          +grid-column(6)
          position: relative
          padding-top: 12px
          input[type=radio], input[type=checkbox]
            position: absolute
            z-index: -1000
            left: -1000px
            overflow: hidden
            clip: rect(0 0 0 0)
            height: 1px
            width: 1px
            margin: -1px
            padding: 0
            border: 0
            & ~ label
              display: block
              padding: 22px 0
              border: 1px solid #eceff1
              position: relative
              svg
                width: 45%
                display: block
                margin: 0 auto
                margin-bottom: 15px
                path, polyline, polygon, line, rect
                  fill: #78909c
              .label-text
                +default_font_style(#78909c, 16, 500, 19.2)
                text-align: center

            &:checked
              & ~ label
                background: #fff
                border-color: #cfd8dc
                &:after
                  content: ''
                  width: 20px
                  height: 20px
                  background: asset-url("crm/Starbud-check.svg")
                  position: absolute
                  top: 20px
                  right: 20px
                svg
                  path, polyline, polygon, line, rect
                    fill: #0d47a1
                .label-text
                  color: #546e7a

          &:hover
            input
              & ~ label
                border-color: #cfd8dc

        .product-scheme-variant
          //+grid-column(12)
          position: relative
          padding-top: 12px
          input[type=radio], input[type=checkbox]
            position: absolute
            z-index: -1000
            left: -1000px
            overflow: hidden
            clip: rect(0 0 0 0)
            height: 1px
            width: 1px
            margin: -1px
            padding: 0
            border: 0
            & ~ label
              display: block
              padding: 22px 10px
              border: 1px solid #eceff1
              position: relative
              margin: 0
              cursor: pointer
              .psv-inner
                +clear_fix
              .psv-main-photo
                width: 25%
                float: left
                padding-right: 28px
                .image
                  padding-bottom: 100%

                .label-text
                  +default_font_style(#78909c, 16, 500, 22)
                  text-align: center
                  padding-top: 5px
              ul
                margin-left: 0
                margin-bottom: 0
                margin-top: 20px
                float: left
                list-style: none
                width: 75%
                +clear_fix
                li
                  width: 20%
                  float: left
                  padding-right: 2px
                  .image
                    padding-bottom: 100%

            &:checked
              & ~ label
                background: #fff
                border-color: #cfd8dc
                &:after
                  content: ''
                  width: 20px
                  height: 20px
                  background: asset-url("crm/Starbud-check.svg")
                  position: absolute
                  top: 20px
                  right: 20px
          &:hover
            input
              & ~ label
                border-color: #cfd8dc

  .default-tabs-head
    border: none
    li
      width: 25%
      position: relative
      a
        +default_font_style(#90a4ae, 16, 500, 42)
        text-transform: uppercase
        text-align: center
        padding: 0
        background: transparent
      &.is-active
        a
          color: #e91e63
          &:after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            border-bottom: 4px solid #e91e63

  .tabs-content
    background: #eceff1
    //padding-bottom: 20px
    position: relative
    z-index: 1
    //+box-shadow(1px 1px 2px 0px rgba(0,0,0,0.35))
    height: 20px
    overflow: hidden

    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.35)
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.35)
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.35)

    .expand-tabs
      height: 20px
      width: 25px
      cursor: pointer
      +my_horizontal_align
        position: absolute
      bottom: 0
      svg
        path
          fill: #90a4ae

    &.expanded
      height: auto
      .expand-tabs
        display: none

    &.default-tabs-content
      .tabs-panel
        padding-top: 50px
        padding-bottom: 50px
        .title
          +default_font_style(#37474f, 16, 500, 20)
          text-transform: uppercase

        p, li
          +default_font_style(#546e7a, 16, 400, 21)
        ul
          list-style: none
          margin-bottom: 30px
          li
            position: relative
            margin-bottom: 10px

            &:before
              content: "\2014"
              position: absolute
              left: -16px

  &.floor-page
    .product-avatar
      img
        width: 100%
    .product-body
      .product-main-info
        .product-adding-to-cart
          .patc-button-order, .patc-button-favorite
            float: left
          .patc-button-order
          .patc-button-favorite

    .tabs-content
      .tabs-panel
        .label-text
          +default_font_style(#546e7a, 18, 500, 21)
          margin-bottom: 10px
        .image
          padding-bottom: 40%

        .one-collection-characteristic
          +clear_fix
          padding-bottom: 20px
          img, p
            float: left
          img
            width: 60px
            height: 60px
          p
            padding-left: 20px
            +default_font_style(#78909c, 0.875rem, 400, 18)
            font-style: italic
            b
              display: block
              +default_font_style( #546e7a, 1.125rem, 500, 21)
              font-style: normal
              margin-top: 5px

.additional-unit
  .title
    +default_font_style(#455a64, 30, 500, 32)
    text-transform: uppercase
    text-align: center
    padding-top: 67px
    padding-bottom: 41px

.grey-back-board
  background: #eceff1

.white-back-board
  background: #fff
