// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixins"

h1, h2, h3, h4, h5, p, b, span, a, label, input, textarea, body, button, .title, .subtitle, .number-of-step, .default-font
  font-family: "Roboto", sans-serif


body
  .mobile-menu-wrap
    background: #263238
    position: absolute
    left: 0
    top: 80px
    right: 0
    bottom: 0
    z-index: 1
    display: none
    .mobile-menu
      width: 100%
      height: 100%
      nav
        +my_center_align()
        list-style: none
        li
          a
            +default_font_style(#eceff1, 24, 500, 36)
            text-align: center
            display: block
            padding: 15px 0
            text-transform: uppercase

  &.locked-body
    overflow: hidden
    .mobile-menu-wrap
      display: block
    header
      .header-logo
        svg
          rect
            fill: #263238
      .constructor-link, .default-button
        display: none

header
  height: 80px
  background: #263238
  position: relative
  z-index: 1
  .header-logo
    width: 136px
    height: 113px
    background: #1976d2
    margin-left: 30px
    float: left
    margin-bottom: -33px
    @media screen and (max-width: 880px)
      margin-left: 0
    @media #{$small-only}
      height: 80px
      width: 96px
      //margin-left: 0
      margin-bottom: 0
  nav#main-menu
    float: left
    list-style: none
    margin-left: 18px
    @media screen and (max-width: 850px)
      display: none
    //@media #{$small-only}

    li
      display: inline-block
      a
        +default_font_style(#eceff1, 16, 500, 80)
        text-transform: uppercase
        display: block
        padding-left: 17px
        padding-right: 17px
        &:hover
          color: #1976d2

  .default-button
    margin-top: 20px
    margin-right: 25px
    @media screen and (max-width: 450px)
      display: none
    a
      +default_font_style(#eceff1, 14, 500, 14)
      text-transform: uppercase
  .constructor-link
    height: 100%
    border-left: 1px solid rgba(255, 255, 255, .2)
    padding-left: 5px
    padding-right: 5px
    @media screen and (max-width: 850px)
      border: none
    img
      height: inherit
      padding: 22px

main
  .bx-wrapper
    height: 100% !important
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    border: none
    background: transparent
    margin: 0
    .bx-viewport
      height: 100% !important
      ul
        margin: 0
        li
          height: 100%
    .bx-controls
      .bx-pager
        bottom: 43px
        .bx-pager-item
          .bx-pager-link
            width: 18px
            height: 18px
            background: asset-url("Starbud-banner-star-passive-1-1.png")
            background-size: 100%
            background-repeat: no-repeat
            margin: 0 8px
            &.active
              background: asset-url("Starbud-banner-star-active-1-1.png")
              background-size: 100%
              background-repeat: no-repeat


.image
  max-width: 100%
  width: 100%
  //height: 0
  //padding-bottom: 100%
  overflow: hidden
  -webkit-background-size: cover !important
  -moz-background-size: cover !important
  -o-background-size: cover !important
  background-size: cover !important
  margin: 0 auto



#main-banner, .main-banner-wrap
  height: 770px

.scroll-top-button
  cursor: pointer

.main-banner-wrap
  .bx-wrapper
    .bx-viewport
      ul
        li
          position: relative
          .image
            height: 100%
          .main-banner-info-block-wrap
            left: 0
            right: 0
            +my_vertical_align()
              position: absolute
            .main-banner-info-block
              +grid-column(6)
              float: none
              .title
                +default_font_style(#fff, 48, 600, 48)
                text-align: center
                text-transform: uppercase
                +text-shadow()
              .subtitle
                +default_font_style(#fff, 48, 300, 48)
                text-align: center
                text-transform: uppercase
                +text-shadow()
              .default-button
                margin-top: 25px
                width: 123px
                -webkit-box-shadow: none
                -moz-box-shadow: none
                box-shadow: none
                background: rgba(0,0,0,0.1)
                &:hover
                  background: #e91e63
                  border-color: #e91e63
    .bx-controls
      .bx-controls-direction
        a
          background-repeat: no-repeat
          width: 40px
          height: 40px
          background-size: 120%!important
          background-position: center!important
          &.bx-prev
            background: asset-url("ic_keyboard_arrow_left_white_48px.svg")
            &:hover
              background: asset-url("ic_keyboard_arrow_left_red_48px.svg")
          &.bx-next
            background: asset-url("ic_keyboard_arrow_right_white_48px.svg")
            &:hover
              background: asset-url("ic_keyboard_arrow_right_red_48px.svg")

.main-page-media-block-wrap
  position: relative
  +grid-column(6)
  @media #{$small-only}
    +grid-column(12)

  .unit-of-measurement
    +grid-column(6)
    padding-bottom: 50%
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 62.5%
  .main-page-media-block-inner
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    .main-page-media-block
      position: relative
      width: 100%
      height: 100%
      .main-page-media-block-part
        +grid-column(6)
        height: 100%
        padding: 0 !important
        @media #{$small-only}
          +grid-column(12)

      .image
        height: 100%
  &.main-page-about-company-video, &.main-page-about-company
    .unit-of-measurement
      padding-bottom: 66.66666%!important
      @media screen and (max-width: 1230px)
        padding-bottom: 85%!important
      @media screen and (max-width: 1000px)
        padding-bottom: 100%!important

  &.main-page-about-company
    .title
      margin-bottom: 5px
    .subtitle
      padding-top: 20px
    .about-company-slogan
      margin-bottom: 20px
      display: inline-block
    .mp-ac-description
      margin-bottom: 1rem
      max-height: 63px
      overflow: hidden
      @media #{$medium-only}
        margin-bottom: 0
      p
        margin-bottom: 0
    @media #{$small-only}
      padding: 0 !important
      .unit-of-measurement
        display: none
      .main-page-media-block-inner
        position: static
        .main-page-media-block
          padding-bottom: 20px

    .main-page-media-block
      background: #263238
      padding-top: 20px
      .title
        +default_font_style(#1976d2, 24, 600, 21)
        text-transform: uppercase
      span
        +default_font_style(#fff, 16, 300, 24)
        text-transform: uppercase
      p
        +default_font_style(#b0bec5, 14, 300, 21)
        @media screen and (min-width: 1425px)
          width: 675px
      .subtitle
        +default_font_style(#b0bec5, 16, 300, 24)
        text-transform: uppercase

.main-page-navigation-blocks-wrap
  position: relative
  .main-page-link-to-catalog
    width: 110px
    height: 110px
    background: #1976d2
    +my_center_align()
      position: absolute
    z-index: 1
    @media #{$small-only}
      +grid-column(12)
      +my_center_align_none

    a
      display: block
      height: 100%
      svg
        width: 100%
        height: 48px
        margin-top: 10px
        path
          fill: #fff
      span
        +default_font_style(#fff, 12, 300, 14)
        text-transform: uppercase
        text-align: center
        display: block

  .main-page-navigation-block-inner
    position: relative
    +grid-column(6)
    padding-bottom: 50%
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 100%!important

    .main-page-navigation-block
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .main-page-navigation-item
        position: relative
        width: 100%
        height: 100%
        background: #b0bec5
        a
          .image
            height: 100%
          .main-page-navigation-item-title
            position: absolute
            left: 0
            right: 0
            bottom: 0
            padding-top: 30px
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100,000000+100&0+0,0.2+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%) /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%) /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ) /* IE6-9 */



            .title
              text-align: center
              +default_font_style(#fff ,72, 600, 72)
              text-transform: uppercase
            p
              +default_font_style(#fff, 18, 400, 36)
              text-align: center
              text-transform: uppercase
          &:hover
            .title
              color: #1976d2

    &.mp-nb-last
      //background: yellow
      @media #{$small-only}
        padding-bottom: 300%!important
      .main-page-navigation-block
        //border: 1px solid

        &:first-child
          bottom: 50%
          @media #{$small-only}
            bottom: 66.66666%
        &:last-child
          top: 50%
          a
            .title
              font-size: 45px !important
              line-height: 40px !important
          @media #{$small-only}
            top: 33.33333%
            bottom: 33.33333%
          .main-page-navigation-item
            +grid-column(6)
            padding: 0!important
            @media #{$small-only}
              +grid-column(12)
              //padding-bottom: 100%!important


.default-button
  +box-shadow(1px 1px 3px 0px rgba(0,0,0,0.35))
  a, input[type="submit"], button
    display: inline-block
    +default_font_style(#78909c, 14, 500, 16.8)
    text-transform: uppercase
    background: transparent
    padding: 12px
    border: none
    outline: none
    white-space: nowrap
    svg
      width: 20px
      float: left
      display: inline-block
      height: 16px
      margin-right: 10px
      path
        fill: #fff

  &.red
    background: #e91e63
    color: #fff
    a, input[type="submit"], button
      color: inherit

  &.white
    background: #fff
    color: #1976d2
    a, input[type="submit"], button
      color: inherit

  &.white-label
    background: transparent
    color: #fff
    border: 1px solid #fff
    a, input[type="submit"], button
      color: inherit

  //&.grey, &.green-label
    background: transparent
    a, input[type="submit"], button
      color: inherit
  //&.grey
    color: #78909c
  //&.green-label
    color: #00897b
  //&.green
    +box-shadow(1px 1px 1px 0px rgba(0,0,0,0.35))
    background: #00897b
    color: #ffffff
    a, input[type="submit"], button
      color: inherit


.video-wrap
  .video-item
    width: 100%
    height: 100%
    iframe
      width: 100%
      height: 100%
    .video-control-info-panel
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      overflow: hidden
      background: white
      &.active-youtube-panel
        -webkit-animation: opa_panel 0.5s
        -moz-animation: opa_panel 0.5s
        -o-animation: opa_panel 0.5s
        animation: opa_panel 0.5s
        z-index: -1 !important

      .video-play-button
        width: 60px
        height: 60px
        +my_center_align()
          position: absolute
        cursor: pointer
        +border-radius(50%)


.coverage-map-wrap

  .coverage-map-navigation-wrap
    +grid-column(4)
    padding-left: 0 !important
    padding-right: 0 !important
    padding-bottom: 33.333%
    position: relative
    @media #{$medium-only}
      padding-bottom: 40%
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 100%!important
    .coverage-map-navigation-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .coverage-map-navigation
        width: 100%
        height: 100%
        background: #263238
        //border: 1px solid
        .title
          +default_font_style(#1976d2, 24, 600, 21)
          text-align: center
          text-transform: uppercase
          padding-top: 30px
          padding-bottom: 8px
        .subtitle
          +default_font_style(#fff, 16, 300, 24)
          text-align: center
          text-transform: uppercase
        #navigation-map
          padding: 55px
          svg
            width: 100%
            circle
              display: none
            polygon
              cursor: pointer
              fill: #ECEFF1
              &.active
                fill: #CFD8DC
              &.current
                fill: #1976D2

    //class="active" data-region-id=""
  .coverage-map-slider-wrap
    +grid-column(8)
    position: relative
    padding: 0 !important
    @media #{$small-only}
      +grid-column(12)
    .unit-of-measurement
      +grid-column(6)
      //border: 1px solid
      padding-bottom: 50%
      @media #{$medium-only}
        padding-bottom: 60%
      @media #{$small-only}
        +grid-column(12)
        padding-bottom: 75%!important
    .coverage-map-slider-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .coverage-map-slider
        width: 100%
        height: 100%
        position: relative
        .coverage-map-slide-status
          position: absolute
          +grid-col(6)
          @media #{$medium-only}
            +grid-column(12)
          @media #{$small-only}
            +grid-column(12)
          bottom: 42px
          right: 0
          z-index: 1
          +default_font_style(rgba(255, 255, 255, .7), 14, 500, 21)
          font-family: "Roboto", sans-serif
          text-align: center
          span
            &.current-slide
            &.total-slide

        .bx-wrapper, .bx-viewport, ul#coverage-map
          width: 100%
          height: 100% !important
        .bx-wrapper
          margin: 0
          -moz-box-shadow: none
          -webkit-box-shadow: none
          box-shadow: none
          border: none
          background: transparent
          .bx-controls
            .bx-controls-direction
              width: 50%
              position: relative
              float: right
              padding-left: 0.9375rem
              padding-right: 0.9375rem
              top: -57px
              @media #{$medium-only}
                width: 100%
              @media #{$small-only}
                width: 100%
              a
                background-size: 50%!important
                background-repeat: no-repeat!important
                background-position: center!important
                opacity: .7
                height: 40px
                width: 20px
                &.bx-prev
                  background: asset-url("banner-left-arrow.png")
                &.bx-next
                  background: asset-url("banner-right-arrow.png")
            .bx-pager
              display: none
        ul#coverage-map
          list-style: none
          margin: 0
          li
            height: 100%
            .cover-photo
              +grid-column(6)
              padding: 0 !important
              .image
                padding-bottom: 100%
              @media #{$medium-only}
                display: none
              @media #{$small-only}
                display: none
            .coverage-object-info-wrap
              +grid-column(6)
              position: relative
              @media #{$medium-only}
                +grid-column(12)
              @media #{$small-only}
                +grid-column(12)
              padding: 0 !important
              .unit-of-measurement
                width: 100%
                padding-bottom: 100%
              .coverage-object-info-inner
                position: absolute
                left: 0
                top: 0
                right: 0
                bottom: 0
                .coverage-object-info
                  width: 100%
                  height: 100%
                  background: #263238
                  padding-left: 0.9375rem
                  padding-right: 0.9375rem
                  .title
                    +default_font_style(#1976d2, 24, 600, 21)
                    text-transform: uppercase
                    padding-top: 30px
                    padding-bottom: 8px
                  .subtitle
                    +default_font_style(#fff, 16, 300, 24)
                    text-transform: uppercase
                    padding-bottom: 15px
                  p
                    +default_font_style(#b0bec5, 14, 300, 21)
ul#main-page-certificates-slider
  margin: 0
  margin-top: 20px
  list-style: none
  padding-left: 30px
  padding-right: 30px
  .owl-controls
    .owl-buttons
      .owl-prev, .owl-next
        color: transparent
        background-repeat: no-repeat !important
        width: 40px
        height: 40px
        background-size: 30%!important
        background-position: center!important
        opacity: .4
        +my_vertical_align()
          position: absolute
      .owl-prev
        background: asset-url("banner-left-arrow.png")
        left: 0
      .owl-next
        background: asset-url("banner-right-arrow.png")
        right: 0

  li
    margin: 0 20px
    .image
      padding-bottom: 150%

.main-page-jobs-dealers-wrap
  .main-page-jobs-wrap
    +grid-column(6)
    position: relative
    padding: 0 !important
    padding-bottom: 50% !important
    @media screen and (max-width: 1315px)
      padding-bottom: 60%!important
    @media screen and (max-width: 1030px)
      padding-bottom: 70%!important
      .main-page-jobs-top-wrap
        bottom: 50%!important
      .main-page-jobs-bottom-wrap
        top: 50%!important
    @media screen and (max-width: 830px)
      padding-bottom: 80%!important
      .main-page-jobs-top-wrap
        bottom: 50%!important
      .main-page-jobs-bottom-wrap
        top: 50%!important

    @media screen and (max-width: 750px)
      +grid-column(12)
      padding-bottom: 120% !important

    &.main-page-jobs-wrap-second
      @media #{$small-only}
        padding-bottom: 100% !important
    .main-page-jobs-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .main-page-jobs
        width: 100%
        height: 100%
        position: relative
        .main-page-jobs-top-wrap
          position: absolute
          left: 0
          top: 0
          right: 0
          bottom: 40%
          @media #{$small-only}
            bottom: 50%
          .main-page-jobs-top-inner
            width: 100%
            height: 100%
            background: #fff
            padding-top: 35px
            .title
              +default_font_style(#1976d2, 24, 600, 21)
              text-transform: uppercase
              text-align: center
            .subtitle
              +default_font_style(#546e7a, 16, 300, 24)
              text-transform: uppercase
              text-align: center
              span
                font-weight: 500
            .mp-jobs-why-we-wrap
              padding: 0 45px
              .mp-jobs-why-we
                +grid-column(4)
                svg
                  padding: 0 20px
                  width: 100%
                p
                  +default_font_style(#546e7a, 14, 300, 16)
                  text-transform: uppercase
                  text-align: center
            .mp-jobs-why-we-button
              margin-top: 40px
              .default-button
                width: 140px

        .main-page-jobs-bottom-wrap
          position: absolute
          left: 0
          top: 60%
          right: 0
          bottom: 0
          @media #{$small-only}
            top: 50%
          .main-page-jobs-bottom-inner
            width: 100%
            height: 100%
            background: #263238
            padding: 35px 35px 35px 30px
            .title
              +default_font_style(#fff, 16, 300, 24)
              text-transform: uppercase
              text-align: center
            .bx-wrapper
              .bx-controls
                .bx-pager
                  bottom: 20px
            ul
              padding-top: 20px
              li
                .feedback-client-avatar
                  display: none
                  +grid-column(2)
                  .avatar
                    background-color: #fff
                    +border-radius(50%)
                    margin-bottom: 10px
                    .image
                      padding-bottom: 100%
                  p

                    text-align: center

                .feedback-client-description
                  //+grid-column(10)
                  p.client-name
                    +default_font_style(#cfd8dc, 12, 300, 16)
                    text-align: right
                    padding-top: 15px
                    padding-right: 40px

                blockquote
                  +default_font_style(#b0bec5, 14, 300, 18)
                  font-family: Georgia
                  font-style: italic
                  position: relative
                  padding: 0px 15px 0px 35px
                  margin: 0
                  border: none
                  &:before, &:after
                    color: #1976d2
                    font-style: italic
                    font-family: Georgia
                    position: absolute
                  &:before
                    content: '«'
                    font:
                      size: rem-calc(58.5)
                    left: 0
                  &:after
                    content: '»'
                    font:
                      size: rem-calc(32.89)
                    right: 0

  .main-page-dealers-wrap
    +grid-column(6)
    position: relative
    padding: 0 !important
    padding-bottom: 50% !important
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 100% !important
    .main-page-dealers-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .main-page-dealers
        width: 100%
        height: 100%
        background: #263238
        &.jobs-list
          padding: 42px 42px 0 42px
          .title
            +default_font_style(#1976d2, 24, 600, 21)
            text-transform: uppercase
            margin-bottom: 10px
          .subtitle
            +default_font_style(#fff, 16, 300, 24)
            text-transform: uppercase

          ul
            margin: 0
            margin-top: 40px
            list-style: none
            li
              border-top: 1px solid #37474f
              a
                display: block
                position: relative
                padding-right: 40px
                padding-top: 21px
                padding-bottom: 19px
              .title
                +default_font_style(#90a4ae, 18, 600, 21)
                text-transform: uppercase
                margin-bottom: 0
              .subtitle
                +default_font_style(#90a4ae, 16, 300, 24)
                text-transform: uppercase
              .icon-link-to
                width: 40px
                height: 40px
                background: #1976d2
                display: block
                +my_vertical_align()
                  position: absolute
                right: 0
                padding: 8px
                svg
                  path
                    fill: #fff
              &:last-child
                border-bottom: 1px solid #37474f
              &:hover
                .title, .subtitle
                  color: #fff
                .icon-link-to
                  background: #fff
                svg
                  path
                    fill: #e91e63


          a.main-page-link-to
            right: 0
            bottom: 1px

    &.main-page-dealers-wrap-mobile
      @media #{$small-only}
        padding-bottom: 0 !important
        .main-page-dealers-inner
          position: static
          .jobs-list
            padding-bottom: 82px

  .image
    height: 100%
a.main-page-link-to
  width: 40px
  height: 40px
  background: #1976d2
  display: block
  position: absolute
  right: 0
  bottom: 0
  padding: 8px
  svg
    path
      fill: #fff
  &:hover
    background: #fff
    svg
      path
        fill: #e91e63

.main-page-our-partners-wrap
  background: #1976d2
  padding-top: 45px
  padding-bottom: 55px
  .title
    +default_font_style(#fff, 24, 600, 21)
    text-transform: uppercase
    text-align: center
    margin-bottom: 5px
  .subtitle
    +default_font_style(#fff, 16, 500, 24)
    text-transform: uppercase
    text-align: center
    opacity: .6
    span
      font-weight: 300
  ul
    list-style: none
    margin: 0
    li
      padding: 0 45px
      svg
        path, polyline, polygon, rect, ellipse, text
          fill: #fff

.mobile-menu-icon-wrap
  width: 48px
  height: 48px
  cursor: pointer
  display: none
  @media screen and (max-width: 850px)
    //@media #{$small-only}
    display: block

  &.open
    .mobile-menu-icon-wrap
      background: #ffffff
      .mobile-menu-icon
        &.open
          span
            background: #fff

  .mobile-menu-icon
    width: 28px
    height: 20px
    position: relative
    margin: 30px auto
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .5s ease-in-out
    -moz-transition: .5s ease-in-out
    -o-transition: .5s ease-in-out
    transition: .5s ease-in-out
    cursor: pointer
    span
      display: block
      position: absolute
      height: 3px
      width: 100%
      background: #ffffff
      //border-radius: 9px
      opacity: 1
      left: 0
      -webkit-transform: rotate(0deg)
      -moz-transform: rotate(0deg)
      -o-transform: rotate(0deg)
      transform: rotate(0deg)
      -webkit-transition: .25s ease-in-out
      -moz-transition: .25s ease-in-out
      -o-transition: .25s ease-in-out
      transition: .25s ease-in-out
      &:nth-child(1)
        top: 0px

      &:nth-child(2), &:nth-child(3)
        top: 8px

      &:nth-child(4)
        top: 16px

    &.open
      span
        &:nth-child(1)
          top: 8px
          width: 0%
          left: 50%

        &:nth-child(2)
          -webkit-transform: rotate(45deg)
          -moz-transform: rotate(45deg)
          -o-transform: rotate(45deg)
          transform: rotate(45deg)

        &:nth-child(3)
          -webkit-transform: rotate(-45deg)
          -moz-transform: rotate(-45deg)
          -o-transform: rotate(-45deg)
          transform: rotate(-45deg)

        &:nth-child(4)
          top: 8px
          width: 0%
          left: 50%

.main-page-contacts-block-wrap
  .main-page-contacts-map-wrap
    +grid-column(6)
    position: relative
    padding: 0 !important
    padding-bottom: 50% !important
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 100% !important
    .main-page-contacts-map-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .main-page-contacts-map
        width: 100%
        height: 100%

  .main-page-contacts-info-wrap
    +grid-column(6)
    position: relative
    padding: 0 !important
    padding-bottom: 50% !important
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 0 !important
    .main-page-contacts-info-info
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      @media #{$small-only}
        position: static
      .main-page-contacts-info-inner
        width: 100%
        height: 100%
        background: #263238
        position: relative
        overflow: hidden
        &:before
          content: ''
          position: absolute
          left: -42%
          top: -31%
          right: 0
          bottom: 0
          background-image: asset-url("Starbud-logo-for-background.svg")
          background-repeat: no-repeat
          background-size: 110%
          opacity: .1

        .main-page-contacts-info
          padding: 42px
          position: relative
          @media #{$medium-only}
            padding: 20px
          @media #{$small-only}
            padding: 20px
          .title
            +default_font_style(#1976d2, 24, 600, 21)
            text-transform: uppercase
            margin-bottom: 40px

          .tabs
            background: transparent!important
            border: none!important
            display: inline-block
            float: right
            position: relative
            top: -8px
            @media #{$small-only}
              float: left
              top: 0
              margin-top: 10px
              margin-bottom: 5px
            .tabs-title
              a
                +default_font_style(#1976d2, 12, 600, 21)
                padding: .5rem 1.5rem
                //background: transparent!important

          .tabs-content
            background: transparent!important
            border: none !important
            .tabs-panel
              @media #{$medium-only}
                padding: 0
              @media #{$small-only}
                padding: 0
          p
            +default_font_style(#fff, 18, 300, 36)
            span, a
              color: inherit
              font-size: inherit
              font-weight: 600
              display: inline-block
            span
              width: 65%
              @media #{$small-only}
                width: 100%
              &.label-contact
                font-weight: 300
                width: 180px
              &.sub-label-contact
                font-weight: 300
                width: 75px
            &:last-of-type
              .label-contact
                float: left
          .default-button
            margin-top: 30px

.representatives-wrap
  .representatives-one-person-wrap
    +grid-column(3)
    padding: 0!important
    position: relative
    padding-bottom: 25% !important
    @media #{$medium-only}
      +grid-column(6)
      padding-bottom: 50% !important
    @media #{$small-only}
      +grid-column(12)
      padding-bottom: 100% !important
      .black
        border-top: 1px solid #fff

    .representatives-one-person-inner
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      .representatives-one-person
        width: 100%
        height: 100%
        background: #1976d2
        position: relative
        overflow: hidden
        &:after
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: 0
          top: 70%
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100,000000+100&0+0,0.2+100 */
          background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%) /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%) /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ) /* IE6-9 */

        .title
          +default_font_style(#1976d2, 24, 600, 24)
          text-transform: uppercase
          margin-bottom: 5px
        .subtitle
          +default_font_style(#fff, 16, 300, 24)
          text-transform: uppercase
        .image
          height: 100%
          opacity: 1
          +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))
        &:hover
          &:after
            display: none
          .image
            opacity: 0
          .representatives-one-person-details-wrap
            top: 0
        &.black
          background: #263238
          padding: 0.9375rem
          &:after
            display: none
        &.representative-future-wrap
          background: #fff
          &:after
            display: none
          svg
            width: 100%
            height: 120px
            path
              fill: #cfd8dc
          .title
            +default_font_style(#cfd8dc, 24, 600, 24)
            text-transform: uppercase
            text-align: center
          .subtitle
            +default_font_style(#cfd8dc, 16, 300, 24)
            text-align: center
            text-transform: uppercase
          .representative-future
            +my_center_align()


        .representatives-one-person-details-wrap
          position: absolute
          width: 100%
          padding-bottom: 100%
          z-index: 1
          top: 80%
          +transition(all, 0.3s, cubic-bezier(0, 0, 0.42, 0.99))
          .representatives-one-person-details-inner
            position: absolute
            left: 0
            top: 0
            right: 0
            bottom: 0
            //background: rgba(255, 255, 0, .3)
            .representatives-one-person-details
              width: 100%
              height: 100%
              padding: 0.9375rem
              .title
                text-align: center
                +default_font_style(#fff, 24, 600, 21)
                text-transform: uppercase
                height: 42px
              .subtitle
                text-align: center
                +default_font_style(#fff, 16, 300, 24)
                text-transform: uppercase
              p
                +default_font_style(#fff, 16, 300, 36)
                padding: 40px 10px 0 10px
                span
                  display: inline-block
                  font-weight: 600
                  &.label-contact
                    font-weight: 300
                    width: 30%

    &.representatives-one-person-wrap-mobile
      @media #{$small-only}
        padding-bottom: 0 !important
        .representatives-one-person-inner
          position: static



footer
  background: #1976d2
  .footer-logo
    width: 135px
    padding-top: 25px
    //height: 80px
    svg
      width: 100%
      height: 100%

  .default-button
    &:hover
      a
        color: #e91e63
  nav
    margin: 0
    list-style: none
    text-align: center
    margin-bottom: 35px
    li
      display: inline-block
      padding: 0 20px
      a
        +default_font_style(#fff, 16, 500, 19.2)
        text-transform: uppercase
        &:hover
          color: #fff
          border-bottom: 1px solid

  .footer-block-wrap
    //+grid-row(9,$width: 900px)
    max-width: 900px
    margin: 0 auto
  .footer-block
    +grid-column(4)
    @media #{$small-only}
      +grid-column(12)
      .default-button
        width: 140px
        margin: 0 auto
        display: block
        margin-bottom: 15px
      ul.socials
        text-align: center
        margin-bottom: 10px
        li
          a
            &:hover
              //#e91e63
  .footer-down
    border-top: 1px solid rgba(255, 255, 255, .2)
    margin-top: 30px
    padding: 5px 0
    padding-bottom: 12px
    p.copyright
      +default_font_style(#fff,12, 400, 16)
      margin-bottom: 0
      padding: 3% 0 0 2%
      text-align: right

#mc_embed_signup
  position: relative
  #mce-EMAIL
    margin-bottom: 0
    background: rgba(255, 255, 255, .3)
    border: 0
    outline: none
    box-shadow: none

    height: 40px
    padding-right: 40px
    +placeholder(rgba(255, 255, 255, .6), 14, none)
      font-family: "Roboto", sans-serif
  button
    width: 40px
    height: 40px
    position: absolute
    top: 0
    right: 0
    background: #fff
    padding: 4px
    svg
      width: 100%
      height: 100%
      path
        fill: #1976d2
    &:hover
      svg
        path
          fill: #e91e63


ul.socials
  margin: 0
  list-style: none
  li
    display: inline-block
    a
      display: block
      width: 40px
      height: 40px
      padding: 4px
      svg
        width: 100%
        height: 100%

.reveal-overlay
  background-color: rgba(0, 0, 0, 0.6)!important
.popup-default-style
  background: #eceff1 !important
  border: none !important
  outline: none !important
  padding: 30px !important
  +box-shadow(10px 10px 20px 5px rgba(0, 0, 0, 0.4))
  +border-radius(5px!important)
  .title
    +default_font_style(#1976d2, 25, 600, 21)
    text-transform: uppercase
    margin-bottom: 10px
  .subtitle
    +default_font_style(#546e7a, 14, 300, 21)
    font-style: italic
    font-family: Georgia
  form
    margin-bottom: 20px
    .input
      margin-bottom: 15px
      input
        padding-left: 0
    .default-button
      button
        padding: 11px 20px
  .success-wrap
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: #eceff1
    display: none
    .success-inner
      width: 100%
      height: 100%
      position: relative
      padding: 30px
      .success-message
        +my_center_align()
          position: absolute
        p
          +default_font_style(#1976d2, 25, 600, 30)
          text-transform: uppercase
  .close-button
    width: 45px
    position: absolute
    top: 10px
    right: 10px
    outline: none
    svg
      path
        fill: #CFD8DC
    &:hover
      path
        fill: #1976d2

$error_color: #f50057
form
  .input
    label
      color: #AFBDC4
      font:
        size: rem-calc(14)
      line-height: rem-calc(30)
    &:not(.animate-input)
      label
        opacity: .5
    input, textarea, select
      font:
        size: rem-calc(16)
        weight: 400
      color: #4d4d4d
      background: transparent !important
    &.animate-textarea
      label
        +default_font_style(#78909c, 16, 400, 30)
      textarea
        position: relative
        width: 100%
        border: 0 solid #b0bec5
        border-width: 0 0 2px 0
        box-shadow: none
        outline: none
        margin: 0
    &.animate-input
      position: relative
      label
        display: block
        transform: translateY(25px)
        transition: all 0.5s

        +default_font_style(#78909c, 16, 400, 30)
        //color: #AFBDC4
        //font:
        //  size: rem-calc(14)
        //line-height: rem-calc(20)
        opacity: .5
        span
          display: none
      input, select
        height: 30px
      input, textarea, select
        position: relative
        width: 100%
        border: 0 solid #b0bec5
        border-width: 0 0 2px 0
        box-shadow: none
        outline: none
        margin: 0

      &.error
        svg
          path
            fill: $error_color
        label
          color: $error_color
          & span
            display: inline-block
        input, textarea, select
          border-color: $error_color

      &.is-completed
        label
          font-size: rem-calc(12)
          transform: translateY(0px)
          color: #455a64
        input, textarea
          +default_font_style(#37474f, 16, 500, 30)
          text-transform: uppercase
        svg
          path
            fill: #607d8b

      &.is-active
        &::after
          transform: scaleX(1)
        label
          opacity: 1
          color: #1976d2
          font:
            size: rem-calc(12)
        input, textarea, select
          color: #1976d2
          border-bottom: 3px solid #1976d2

    &.animated-select
      select
        margin: 0
        padding: 0

  .button-wrap
    margin-top: 20px
  .material-component
    background: #f50057
    button
      background: transparent
      margin: 0
      color: #fff
      font:
        size: rem-calc(14)
        weight: 500
      text-transform: uppercase
      padding: 11px 30px

  &.default-form-with-icons
    svg
      path
        fill: #bcbec0
    //fill: #607d8b
    .animate-input
      padding-left: 35px

      .input-ico
        width: 32px
        height: 32px
        position: absolute
        bottom: -8px
        left: 0
        svg
          height: 22px
      &.is-active
        .input-ico
          svg
            path
              fill: #1e88e5
    .animate-textarea
      .input-ico
        top: 25px
        bottom: inherit


